
@font-face {
  font-family:'FontAwesome';
  src:url('../../bootstrap3/css/fonts/fontawesome-webfont.eot?v=4.7.0');
  src:url('../../bootstrap3/css/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('../../bootstrap3/css/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('../../bootstrap3/css/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('../../bootstrap3/css/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('../../bootstrap3/css/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight:normal;
  font-style:normal
}

body {
    background:#666;
    font-family: FontAwesome, Arial, sans-serif;
}

body > header .navbar {
    background-color: #304352;
    background: #304352 -webkit-gradient(linear, left top, right bottom, from(#D7D2CC), to(#304352)) no-repeat;
    background: #304352 -moz-linear-gradient(left, #d7d2cc, #304352) no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D93A32, endColorstr=#FFD6D4) no-repeat;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D93A32, endColorstr=#D93A32)" no-repeat;
}

header .navbar .navbar-brand {
    background-image: url('../images/seaview.svg');
    background-repeat: no-repeat;
    background-position: center left;
    color: transparent;
    height: 60px;
    background-size: auto 50px;
}

header .navbar .navbar-brand:hover,header .navbar .navbar-brand:active,header .navbar .navbar-brand:focus {
    color: #D26130;
}

header .navbar .navbar-nav > a,
header .navbar .navbar-nav > li > a {
    padding: 0px 6px;
    color: #fffaf0;
}

header .navbar .navbar-nav > a:hover,
header .navbar .navbar-nav > a:active,
header .navbar .navbar-nav > li > a:hover,
header .navbar .navbar-nav > li > a:active {
    background-color: #D26130; 
    background: #D26130;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

header .navbar .navbar-nav > h4,
header .navbar .navbar-nav > h4 > a:link,
header .navbar .navbar-nav > h4 > a:visited {
    color: #fffaf0;
    margin-top: 2.4em;
    margin-bottom: 0.1em;
    font-size: 1.08em;
}

header .navbar .navbar-nav > h4 > a:hover,
header .navbar .navbar-nav > h4 > a:active {
    background-color: #D26130; 
    background: #D26130;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    padding: 0px 0.6em;
}

.record-nav {
    text-align: center;
}

.navbar-header > a {
    font-variant:small-caps;
}

.navbar {
    border:0;
}

/* GH2020-07-10 : disappeared content */
.media-body {
    width: 100%;
}

.container, footer, .template-dir-combined.template-name-results footer .footer-container, .template-dir-combined.template-name-results footer .poweredby {
    background: #fff;
    width: 100%;
}

.searchHomeContent {
    float: none;
    margin: 1em auto;
    width: 90%;
}

div.dbib {
    float: none;
    margin: 1em auto;
    width: 90%;
}

@media (min-width:768px) {
  .searchForm .search-query {
     width: 400px;
  }
}

.searchForm .clear-btn, .searchForm .btn-primary, .searchForm .form-control {
    font-size: 14px;
    height: 32px;
    padding: 5px 8px;
}

.searchForm_lookfor, .searchForm_type {
    border-color: #619144;
}

.btn-primary, .btn-primary:hover {
    border-color: #456730;
}

.searchtools {
    font-size: 0.9em;
}

.form-control:focus {
    border-color:#619144;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(97, 145, 68, 0.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(97, 145, 68, 0.6)
}

footer p {
    border-top: 1px solid #ddd;
    font-size: 0.9em;
}

.list-group-item.active {
    background-color: #D26130; 
    border-color: #D26130;
}

.list-group-item.active:hover {
    background-color: silver; 
    border-color: silver;
}

.myresearch-menu a.active {
    background-color: #D26130;
    colr: #fff;
}

.result:nth-child(even) {
    background: #fff;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 12px;
}

.table > tbody > tr > th {
    width: 24%;
}
.table {
    table-layout: auto;
}

.btn-primary {
    background-color: #D26130; /*orange*/
}

.nav > .searchForm > a.btn-link {
    color: #eee;
    font-weight: normal; 
}

.btn-primary:hover {
    background-color: silver;
    color: #fff;
}

.adv_search_terms {
    color: white;
}

.adv_search_links, .adv_search_links > a {
    color: white;
}

div.help-block {
    color: red;
    background-color: #eee;
}

i.fa-dissertation:before{
    content: "\f19d"; /* fa-mortar-board */
}
i.fa-volume:before{
    content: "\f02d"; /* fa-book */
}
i.fa-journalarticles:before{
    content: "\f0f6"; /* fa-clipboard */
}
i.fa-pdf:before{
    content: "\f0f6"; /* fa-file-text-o fa-file-text : content: "\f15c"; */
}
i.fa-work:before{
    content: "\f016"; /* fa-file-o */
}

i.fa-usd:before{
    content: "\f153"; /* fa-euro */
}

/* This gets Google to fall into place */
.social {
    font-size: 1px;
}

.social {
    vertical-align: top;
}

/* Set an optional width for your button wrappers */
.social div {
    display: inline-block;
    width: 450px;
}

i.fa-heart {
  background-image: url('../../../themes/bootprint3/images/icons/heart.png');
  background-position: center center;
  background-repeat: no-repeat;
  color: transparent;
  content: '';
  display: inline-block;
  height: 16px;
  margin: 0;
  padding: 0;
  text-shadow: none;
  vertical-align: text-bottom;
  width: 16px
}

/* used by ajax status-unknown */
.yellow {
    background-color: #ffa62f;
}

/* GH201805 : iframe on content security */
.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 26.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: small;
}

/* GH201902 Mirador 3 IIIF Viewer : see templates/view/viewer3.phtml */
    #mirador {
      background: #333;
      height: calc(100vh - 115px);
      position: relative;
      width: 100%;
    }

/* GH201902 Mirador 2.7.0 IIIF Viewer : see templates/view/viewer.phtml */
    #mirador-viewer {
      background: #333;
      height: calc(100vh - 115px);
      position: relative;
      width: 100%;
    }

    #mirador-viewer .window-manifest-title {
      height: 1.25em;
    }

    #mirador-viewer .mirador-osd-annotation-controls * {
      box-sizing: content-box;
    }

    #mirador-viewer .metadata-listing .metadata-item {
      padding-top: 5px;
    }

    #mirador-viewer .metadata-listing .metadata-label,
    #mirador-viewer .metadata-listing .metadata-value {
      display: inline;
    }
    #mirador-viewer .metadata-listing .metadata-label {
      font-weight: bold;
      margin-right: 10px;
    }

    #mirador-viewer .metadata-listing img {
      display: block;
    }

h1 {
    text-align:center;
}

a {
    text-decoration: none;
}

.small-caps {
     font-variant: small-caps;
     font-weight: bold;
}

.lettrine {
    float: left;
    font-size: 2.5em;
    width: 1em;
    font-weight: bold;
    color: #444;
    line-height: 0.9em;
}

blockquote > p > em {
    font-family: Courgette, times, serif;
    padding-right: 5px;
}

/* templates/view/pdf.phtml */
#pdfCanvasContainer {
    background-color: #fffaf0;
    height: 100%;
    width: 100%;
}

button.dbib {
    font-size: 1.1em;
    color: #12538B;
    border: none;
    margin-top: 0px;
    margin-bottom: 9px;
}

button.dbib-small {
    border: none;
}

div.legend-doklief {
    font-size:18px;
}
